<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .current {
      color: gold;
    }
  </style>
</head>

<body>
  <div id="app">
    <fruit-list :list="list">
      <!-- 一般使用slotProps这个名字 -->
      <template v-slot="slotProps">
        <strong v-if="slotProps.info.id==2" class="current">{{slotProps.info.name}}</strong>
        <span v-else>{{slotProps.info.name}}</span>
      </template>
    </fruit-list>
  </div>
  <script src="./lib/vue-3.0.js"></script>
  <script>
    let vm = Vue.createApp({
      data() {
        return {
          list: [
            {
              id: 1,
              name: 'apple'
            },
            {
              id: 2,
              name: 'banana'
            },
            {
              id: 3,
              name: 'orange'
            }
          ]
        }
      }
    })
    vm.component('fruit-list', {
      props: ["list"],
      template: `
      <ul>
        <li v-for="(item,index) in list">
          <slot :info="item">{{item.name}}</slot>
        </li>
      </ul>
      `
    })
    vm.mount('#app')
    /*
    执行顺序
      1.父组件声明数据，在标签中使用：list属性传入水果列表
      2.子组件使用props接受list列表，使用模板字符串，v-for遍历数据渲染list
      3.在子模版中使用插槽slot用info接收遍历中的item
      4.在字html中使用template标签使用v-slot把数据slotPros带入
      5.使用模板字符串以{{slotProps.info.name}}带入即可
     */
  </script>
</body>

</html>