<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="number" class="num1" v-model='num1'>
    <span>+</span>
    <input type="number" class="num2" v-model='num2'>
    <button @click='getSum'>=</button>
    <input type="text" disabled class="sum" v-model='sum'>
  </div>
  <script src="./lib/vue-3.0.js"></script>
  <script>
    let vm = Vue.createApp({
      data() {
        return {
          // 声明数据num1
          num1: null,
          // 声明数据num2
          num2: null,
          // 声明数据sum
          sum: "",
        }
      },
      methods: {
        //计算加法的结果
        getSum() {
          console.log(this.num1 - 0);
          this.sum = this.num1 - 0 + (this.num2 - 0)
        }
      }
    }).mount('#app')
  </script>
</body>

</html>